<ion-content [fullscreen]="true">

  <div align="center" style="margin-top: 50px;">
    <img src="assets/imgs/scre1.png" />
  </div>
  <form>
    <ion-item mode="md" >
      <ion-label position="floating">Numéro ou Email</ion-label>
      <ion-input required="true"></ion-input>
    </ion-item>
    
    
    <ion-item mode='md'>
      <ion-icon 
        [name]="type ? 'eye-off' : 'eye'" 
        slot="end" 
        color="dark" 
        (click)="changeType()" style="font-family: 'Poppins';
        font-style: normal; opacity: 0.5;">
      </ion-icon>
      <ion-label position='floating'>Mot de passe</ion-label>
      <ion-input required="true" color="black" type="password" [type]="type ? 'password' : 'text'"></ion-input>
    </ion-item>

    <div class="row" style="text-align: center; margin-bottom: 30px;">
      <a [routerLink]="['/motdepasseoublie']" style="color: #00A5E4; font-weight: 400; text-decoration: none; font-size: 16px; ">Mot de passe oubliè ?</a>
    </div>
    <ion-button [routerLink]="['/#']" style="--background: #00A5E4; margin: 10px," expand="block">Connexion</ion-button>
  
    
  
  </form>
  

  <div class="row" style="text-align: center; margin-top: 40px;">
    <p style="color: black; font-size: 17px;">Pas de compte ? <a [routerLink]="['/inscription']" style="color: #00A5E4; font-weight: 400; text-decoration: none; font-size: 17px;">Inscris-toi</a></p>
  </div>
</ion-content>