<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="">
    <h2>Questionnaire</h2>
    <div class="row" style="margin: 20px;">
      <ion-progress-bar style="height: 10px; border-radius: 15px;" value="1.0"></ion-progress-bar>
    </div>
    
    <ion-row>
      <!-- <h3 style="margin-top: 20px;">Quelle est votre filière?</h3> -->
      <!-- <ion-item>
        <ion-select [(ngModel)]="answers[questions[0]]" name="answers[question.id]" interface="popover" placeholder="{{questions[1]}}">
          <ion-select-option value="licence1">Licence 1</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="licence3">Master 1</ion-select-option>
          <ion-select-option value="licence3">Master 2</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item mode="md" *ngFor="let question of questions">
        <ion-label position="floating">{{question.question}}</ion-label>
        <ion-input [(ngModel)]="answers[question.id]" name="answers[question.id]" minlength="4"
        maxlength="20" type="text" required="true"></ion-input> 
      </ion-item>
      <!-- <h3 style="margin-top: 25px;">Quel est votre niveau d’étude?</h3> -->
      <!-- <ion-item *ngFor="let question of questions">
        <ion-item mode="md">
          <ion-label position="floating">{{question.question}}</ion-label>
          <ion-input answers[question.id] max="20" min="0" pattern="[0-9]" type="number" integerOnly step="1"
            minlength="0" maxlength="10" required="true"></ion-input>
        </ion-item> -->
        <!-- <ion-select interface="popover" placeholder="Selectionner">
          <ion-select-option value="licence1">Licence 1</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="licence3">Master 1</ion-select-option>
          <ion-select-option value="licence3">Master 2</ion-select-option>
        </ion-select> -->
      <!-- </ion-item> -->
      <!-- <h3 style="margin-top: 25px;">Quel est votre niveau d’étude?</h3>
      <ion-item *ngFor="let question of questions">
        <ion-select interface="popover" placeholder="Selectionner">
          <ion-select-option value="licence1">{{question.matierequestion}}</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="licence3">Master 1</ion-select-option>
          <ion-select-option value="licence3">Master 2</ion-select-option>
        </ion-select>
      </ion-item> -->
    </ion-row>
    <ion-button (click)="submitAnswers()" style="--background: #00A5E4; margin: 10px; float: right;">Suivant</ion-button>
  </form>
</ion-content>