<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="">
    <h2>Questionnaire</h2>
    <div class="row" style="margin: 20px;">
      <ion-progress-bar style="height: 10px; border-radius: 15px;" value="1.0"></ion-progress-bar>
    </div>
    
    <ion-row>
      <h3 style="margin-top: 20px;margin-right: 20px;margin-left: 20px;">Quelle est votre niveau d'étude ?</h3>

      <!-- <ion-item mode="md" *ngFor="let questionfilieres of questionsfiliere">
        <ion-label position="floating">{{questionfilieres.question}}</ion-label>
        <ion-input [(ngModel)]="answers[questionfilieres.id]" name="answers[questionfilieres.id]" type="test"
          required="true"></ion-input> 
      </ion-item> -->
      <ion-item mode="md" *ngFor="let questionfilieres of questionsfiliere">
        <ion-label position="floating">{{questionfilieres.question}}</ion-label>
        <ion-select [(ngModel)]="answers[questionfilieres.id]" name="answers[questionfilieres.id]" required="true">
          <ion-select-option value="Licence 1">Licence 1</ion-select-option>
          <ion-select-option value="Licence 2">Licence 2</ion-select-option>
          <ion-select-option value="Licence 3">Licence 3</ion-select-option>
          <ion-select-option value="Master 1">Master 1</ion-select-option>
          <ion-select-option value="Master 2">Master 2</ion-select-option>
        </ion-select>
      </ion-item>

      <h3 style="margin-top: 20px; margin-right: 20px;margin-left: 20px;">Choisir le domaine que tu veux évoluer ?</h3>
      <!-- <ion-item mode="md" *ngFor="let question of questions">
        <ion-label position="floating">{{question.question}}</ion-label>
        <ion-input [(ngModel)]="answers[question.id]" name="answers[question.id]" type="test"
          required="true"></ion-input> 
      </ion-item> -->
      <ion-item mode="md" *ngFor="let question of questions">
        <ion-label position="floating">{{question.question}}</ion-label>
        <ion-select [(ngModel)]="answers[question.id]" name="answers[question.id]" required="true">
          <!-- <ion-select-option value="informatique">Informatique / Télécoms</ion-select-option>
          <ion-select-option value="comptabilite">Comptabilité</ion-select-option>
          <ion-select-option value="banqueassurance">Banque / Assurance</ion-select-option>
          <ion-select-option value="electroelectricite">Électronique / Électricité</ion-select-option>
          <ion-select-option value="transport">Transports / Logistique</ion-select-option> -->
          <ion-select-option *ngFor="let Dom of domaines" value="{{Dom.nomdomaine}}">{{Dom.nomdomaine}}</ion-select-option>
          <!-- <ion-select-option data-toggle="modal" data-target="#exampleModal" value="banqueassurance">Banque / Assurance</ion-select-option> -->
        </ion-select>
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button> -->
        
      </ion-item>
      <!-- <ion-item>
        <ion-select interface="popover" placeholder="Selectionner votre filière">
          <ion-select-option value="licence1">Licence 1</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="master1">Master 1</ion-select-option>
          <ion-select-option value="master1">Master 2</ion-select-option>
        </ion-select>
      </ion-item> -->
      <!-- <ion-item mode="md" *ngFor="let question of questions">
        <ion-label position="floating">{{question.question}}</ion-label>
        <ion-input [(ngModel)]="answers[question.id]" name="answers[question.id]" minlength="4"
        maxlength="20" type="text" required="true"></ion-input> 
      </ion-item> -->
      <!-- <h3 style="margin-top: 25px;">Quel est votre niveau d’étude?</h3> -->
      <!-- <ion-item *ngFor="let question of questions">
        <ion-item mode="md">
          <ion-label position="floating">{{question.question}}</ion-label>
          <ion-input answers[question.id] max="20" min="0" pattern="[0-9]" type="number" integerOnly step="1"
            minlength="0" maxlength="10" required="true"></ion-input>
        </ion-item> -->
        <!-- <ion-select interface="popover" placeholder="Selectionner">
          <ion-select-option value="licence1">Licence 1</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="licence3">Master 1</ion-select-option>
          <ion-select-option value="licence3">Master 2</ion-select-option>
        </ion-select> -->
      <!-- </ion-item> -->
      <!-- <h3 style="margin-top: 25px;">Quel est votre niveau d’étude?</h3>
      <ion-item *ngFor="let question of questions">
        <ion-select interface="popover" placeholder="Selectionner">
          <ion-select-option value="licence1">{{question.matierequestion}}</ion-select-option>
          <ion-select-option value="licence2">Licence 2</ion-select-option>
          <ion-select-option value="licence3">Licence 3</ion-select-option>
          <ion-select-option value="licence3">Master 1</ion-select-option>
          <ion-select-option value="licence3">Master 2</ion-select-option>
        </ion-select>
      </ion-item> -->
    </ion-row>
    <ion-button (click)="popUpFaireAuto()" style="--background: #00A5E4; margin: 10px; float: right;">Suivant</ion-button>
  </form>
  
</ion-content>

