ion-content {
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto !important;
    // background: #F8F6FB;
    background: url('../../../assets/imgs/background.png') no-repeat center center/cover;
    --overflow: hidden;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
    // --background: url('../../../assets/imgs/background.png') no-repeat center center/cover;
}

* {
    font-family: 'Poppins';
    // line-height: 194.5%;
    // opacity: 0.5;
    // transform: rotate(0.01deg);
    // line-height: 194.5%;
    font-style: normal;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;
    // width: 100%;
    margin-top: 30px;

    // img {
    //     text-align: center;
    //     align-content: center;
    //     align-self: center;
    //     max-width: 40%;
    //     max-height: 20%;
    // }
}

h3 {
    margin-top: 2.0rem;
    font-size: 24px;   
    font-weight: 800;
    letter-spacing: 0.06em;
    text-align: center;
}

.caarr{
    margin-top: 7px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.06em;
    text-align: center;
}

.textnum {
    position: relative;
    bottom: 6px;
    margin-top: 1.0rem;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.06em;
    text-align: center;
}

.num{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #5AC7EB;
    
}

ion-button:hover {
    background: none !important;
}

.swiper-slide-active {
    transform: scale(1.05, 1.05);

    ion-card {
        img {
            transform: scale(1, 1);
        }
    }
}

.swiper-slide {
    transition: 400ms all ease-in-out;
}