<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <h4 style="color: black; font-weight: bold;">CarriPlan</h4>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" style="color: black;" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row tite" style="margin-top: 10px; display: flex; font-size: 30px; margin-left: 1px;">

    <div class="col-2">
      <!-- <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon> -->
      <ion-icon (click)="back()" name="arrow-back-circle-outline"></ion-icon>
    </div>
    <div class="col" style="margin-top: 4px;">
      <div class="titee">
        <h2 class="tit">Science Exacte</h2>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="container" style="padding: 0px">
    <ion-card>
      <!-- <div class="tt" >
        <p>Science Exacte</p>
      </div> -->
      <img style="opacity: 2.0;" alt="" src="assets/imgs/etudiant2.jpg" />
      <ion-card-header>
        <ion-card-subtitle style="color: black; font-weight: bold;font-size: 16px;">Description</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content style="margin-top: -10px; text-align: justify;">
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>

      <ion-card-header style="margin-top: -19px;">
        <ion-card-subtitle style="color: black; font-weight: bold; font-size: 16px;">Les Cours</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="margin-top: -10px;">
        <ul style="text-align: justify;">
          <li><b>Maths : </b>Tigre de Chine méridionale</li>
          <li><b>Maths : </b>Tigre de Chine méridionale</li>
          <li><b>Maths : </b>Tigre de Chine méridionale</li>
          <li><b>Maths : </b>Tigre de Chine méridionale</li>
        </ul>
      </ion-card-content>
      <ion-card-header style="margin-top: -28px;">
        <ion-card-subtitle style="color: black; font-weight: bold; font-size: 16px;">Les Métiers qui sont liés à cette séries</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="margin-top: -10px;">
        <div class="row">
          <div class="col-6" style="margin-left: -11px;">
          <!-- *ngFor="let Pays of pays | paginate:{itemsPerPage :10, currentPage:p}; let id = index"> -->
            <a [routerLink]="['/tabs/detailsmetier']" style="text-decoration: none;">
              <ion-card class="card2">
                <div class="row image ">
                  <img style="height: 70px;" alt="" src="assets/imgs/metier1.jpg" />
                  <div class="tt1">
                    <p>Informaticien</p>
                  </div>
                </div>
                <div class="tti" style="text-align: center; font-weight: bold;">
                  Savoir plus
                </div>
              </ion-card>
            </a>
          </div>
          <!-- <div class="col-6">
            <a [routerLink]="['/tabs/detailsparcours']" style="text-decoration: none;">
              <ion-card class="card2">
                <div class="row image ">
                  <img style="height: 70px;" alt="" src="assets/imgs/scienceexp.jpg" />
                  <div class="tt1">
                    <p>Science Expérimentale</p>
                  </div>
                </div>
                <div class="tti" style="text-align: center; font-weight: bold;">
                  Savoir plus
                </div>
              </ion-card>
            </a>
          </div> -->
        </div>
        
        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
      </ion-card-content>
      <ion-card-header style="margin-top: -19px;">
        <ion-card-subtitle style="color: black; font-weight: bold; ">Les Conseils</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="margin-top: -10px; text-align: justify;">
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>
 
</ion-content>