<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <h4 style="color: black; font-weight: bold;">CarriPlan</h4>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" style="color: black;" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container fluid">


    <h3>On t’aide à faire le point</h3>

    <img alt="" src="assets/imgs/eleve2.jpg" />
    <h4 style="text-align: center;"><U> Par où commencer ?</U></h4>
    <div class="row" style="text-align: justify;">
      <p>
        <b> Il existe forcément une formation qui te convient.</b> Dis-nous quelles matières tu aimes et celles qui te plaisent moins, tes notes, le niveau 
        d’accompagnement que tu préfères, 
        puis découvre nos recommandations.
      </p>
    </div>

    <h3>Avec CARRIPLAN, trouve ta voie en 3 étapes</h3>

    <div class="num" style="width: 50px;justify-content: center; height: 50px; border-radius: 100%; border: 3px solid #5AC7EB;">
      <h3 style="position: relative; bottom: 6px;">1.</h3>
    </div>

    <ion-card>
      <ion-card-header>
          <!-- <ion-card-title style="font-size: 20px; text-align: center;">Je suis élève</ion-card-title> -->
          <div class="row" style="font-size: 17px; font-weight: bold;">
            Je m’inscris et je réponds au questionnaire
          </div>
      </ion-card-header>
      <ion-card-content style="margin-top: -15px; color: black I !important;;">
          <!-- <img alt="" src="assets/imgs/etudiant.png" /> -->
          <div class="row" style="font-size: 15px; margin-top: 10px; font-weight: 800;">
            Réponds à un petit questionnaire avec des 
            questions sur tes goûts, tes envies, tes notes…
          </div>
      </ion-card-content>
  </ion-card>
    
  </div>
</ion-content>