ion-button:hover {
    background: none !important;
}

ion-item {
    margin: 10px;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    opacity: 0.9;
    transform: rotate(0.03deg);
    // width: 93%;
    width: 93%;
    align-items: center;
    letter-spacing: 0.06em;
}

ion-list{
    background: #E6F4F1;
}

.boudec{
    margin: 10px;
    border-radius: 20px;
    font-family: 'Poppins';
    font-style: normal;
    opacity: 0.9;
    transform: rotate(0.03deg);
    // width: 93%;
    width: 93%;
    align-items: center;
    letter-spacing: 0.06em;
    
}

.td {
    cursor: pointer;
  }
.td:hover {
    cursor: pointer;
}