ion-button:hover {
    background: none !important;
}

ion-item {
    margin: 10px;
    // line-height: none;
    // border-radius: 20px;
    // font-family: 'Poppins';
    // font-style: normal;
    // opacity: 0.9;
    // transform: rotate(0.03deg);
    // width: 93%;
    //width: 93%;
    align-items: center;
    letter-spacing: 0.06em;
}

// ion-list{
//     background: #E6F4F1;
// }

.td {
    cursor: pointer;
  }
.td:hover {
    cursor: pointer;
}

h2 {
    margin-top: 1.0rem;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    // margin-bottom: 0.7rem;
}