<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueilprofessionnel">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="autoprofessionnel">
      <ion-icon name="color-filter-outline"></ion-icon>
      <ion-label>Evaluation</ion-label>
    </ion-tab-button>  

    <ion-tab-button tab="pisteprofessionnel">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Pistes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carriereprofessionnel">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Carrière</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
