<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3>Les filières et les métiers </h3>
  <ion-list>
    <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Filières</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Métiers</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="row" style="margin-right: 7px;">
      <app-filiereetudiant *ngIf="segmentValue == '1'"></app-filiereetudiant>
      <app-metieretudiant *ngIf="segmentValue == '2'"></app-metieretudiant>
    </div>



  </ion-list>

</ion-content>