
<ion-content [fullscreen]="true">
  <div class="row tite" style="margin-top: 60px; display: flex; font-size: 30px; margin-left: 20px;">

    <div class="col-2">
        <!-- <ion-icon (click)="back()"  name="arrow-back-outline"></ion-icon> -->
        <ion-icon (click)="back()" name="arrow-back-circle-outline"></ion-icon>
    </div>
    <div class="col" style="margin-left: 2px; margin-top: 7px;">
        <div class="titee">
            <h2 class="tit">Mot de passe oublié</h2>
        </div>
    </div>
    <div class="col-2"></div>  
</div>
  
  <div align="center">
    <img src="assets/imgs/imgconfig/motdepasseou.png" />
  </div>

  <form>
    <ion-item mode="md">
      <ion-label position="floating">Numéro ou Email</ion-label>
      <ion-input [(ngModel)]="form.email" name="email" required="true"></ion-input>
    </ion-item>
    <button (click)="onSubmit()" type="submit" ion-button style="--background: #00A5E4; margin: 10px," expand="block">Réinitialiser mon mot de passe</button>
  </form>
</ion-content>