<ion-content [fullscreen]="true">
  <div class="row tite" style="margin-top: 60px; display: flex; font-size: 30px; margin-left: 20px;">

    <div class="col-2">
      <!-- <ion-icon (click)="back()"  name="arrow-back-outline"></ion-icon> -->
      <ion-icon (click)="back()" name="arrow-back-circle-outline"></ion-icon>
    </div>
    <div class="col" style="margin-left: 2px; margin-top: 7px;">
      <div class="titee">
        <h2 class="tit">Mot de passe oublié</h2>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div align="center">
    <img src="assets/imgs/imgconfig/motdepasseou.png" />
  </div>

  <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <ion-item mode="md">
      <ion-label for="email" position="floating">Email</ion-label>
      <ion-input name="email" [(ngModel)]="form.email" required email #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }" type="email"></ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">Email est obligatoire</div>
        <div *ngIf="email.errors['email']">
          Email doit être une adresse e-mail valide
        </div>
      </div>
    </ion-item>
    <div class="row mx-5" style="margin-top: 5px;">
      <ion-button ion-button type="submit" style="--background: #00A5E4; 
      margin-right: 11px; border-radius: 10px; text-transform: none; font-size: 20px;">Réinitialiser</ion-button>
    </div>
    <!-- <button (click)="onSubmit()" type="submit" ion-button style="--background: #00A5E4; margin: 10px," expand="block">Réinitialiser mon mot de passe</button> -->
  </form>
</ion-content>