<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container fluid">
    <div class="scroll-text">
      <p>Vous avez droit à 3 auto-évaluations.</p>
      <!-- <h3>Mes pistes </h3> -->
    </div>
    <div class="row" style="text-align: center; letter-spacing: 0.06em;">
      <ion-button [routerLink]="['/tab3/autoevaluationprofessionnel']" style="--background: #00A5E4; color: black; margin-left: 0px;">
        <ion-icon style="color: white;" name="color-filter-outline"></ion-icon>
             <p style="margin-left: 10px; margin-top: 20px; text-transform: none; color: white;">Faire une auto-évaluation</p>
      </ion-button>
    </div>

    <div class="cont" *ngIf="autorecenteformation && autorecenteformation.length > 0">
      <div class="row">
        <h4><b style="font-size: 25px;">1.</b> Découvre les formations qui te conviennent</h4>
      </div>
      <div class="row">
        <ion-card class="crd">
          <ion-card-content>
            <ion-card-subtitle style="color: black; font-weight: bold;font-size: 16px; text-align: center; text-transform: none;">
              {{totaleformationproposee}} formations proposées
            </ion-card-subtitle>
            <ion-slides [options]="option">
              <ion-slide *ngFor="let Auto of autorecenteformation">
                <ion-card class="fili" (click)="goToDettailParcours(Auto.id)">
                  <div class="row image" style="height: 10vh !important;">
                    <div class="monimage" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../../assets/imgs/parcours/{{Auto.imageparcours}}); object-fit: fill !important; width: 100%; height: auto;">
                      <div class="tt">
                        <p>{{Auto.nomparcours}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="tti">
                    Savoir plus
                  </div>
                </ion-card>
              </ion-slide>
            </ion-slides>
            <ion-button [routerLink]="['/tab3/pisteprofessionnel']"
              style="--background: #00A5E4; text-transform: none; margin-top: 10px;">Voir plus de séries</ion-button>
            <ion-card-subtitle style="color: black; font-weight: bold;font-size: 16px; text-align: center; text-transform: none;">
              Les formations
              sont classées en fonction de tes reponses aux questionnaires
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>