<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <ion-header [translucent]="true">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide *ngFor="let Parc of parcours">
        <ion-card class="rrr">
          <img style="height: 100px;" src="../../../../assets/imgs/parcours/{{Parc.imageparcours}}" alt="">
        </ion-card> 
      </ion-slide>
    </ion-slides>

    <ion-accordion-group style="padding: 10px; margin-top: 15px;">
      <ion-accordion value="first">
        <ion-item slot="header" color="light" *ngIf="Parcours1 && Parcours1.domaineProf.nomdomaine">
          <ion-label style="font-size: 13px;">Formations({{Parcours1.domaineProf.nomdomaine}})</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" style="background-color: #E6F4F1;">
          First Content
        </div>
      </ion-accordion>
      <ion-accordion value="third" style="margin-top: 15px;">
        <ion-item slot="header" color="light" *ngIf="auto && auto.length > 0">
          <ion-label style="font-size: 13px;">Mes auto-evaluations</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content" style="background-color: #E6F4F1;">
          <div class="container">
            <!-- <div class="row" *ngIf="auto && auto.length > 0">
              <h4>Mes auto-evaluations</h4>
            </div>
            <div class="row" *ngIf="auto && auto.length == 0">
              <h4>Aucune auto-évaluation n'a été faite !!!</h4>
            </div> -->
            <ion-row>
              <ion-col *ngFor="let Auto of auto, let i = index">
                <ion-card (click)="goToDettailAuto(Auto.id)" class="crd">
                  <ion-card-header>
                    <ion-card-title>{{i+1}} auto-evaluation</ion-card-title>
                    <ion-card-subtitle style="font-size: 12px;">{{Auto.dateauto | date:"dd/MM/yyyy HH'h'mm"}}</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>

    <!-- <div class="container" style="margin: 8px;">
      <div class="row" *ngIf="auto && auto.length > 0">
        <h4>Mes auto-evaluations</h4>
      </div>
      <div class="row" *ngIf="auto && auto.length == 0">
        <h4>Aucune auto-évaluation n'a été faite !!!</h4>
      </div>
      <ion-row>
        <ion-col *ngFor="let Auto of auto, let i = index">
          <ion-card (click)="goToDettailAuto(Auto.id)" class="crd">
            <ion-card-header>
              <ion-card-title>{{i+1}} auto-evaluation</ion-card-title>
              <ion-card-subtitle style="font-size: 12px;">{{Auto.dateauto | date:"dd/MM/yyyy HH'h'mm"}}</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </div> -->
  </ion-content>