<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container fluid">
    <h3>Mes pistes </h3>
    <div class="row" style="text-align: center; letter-spacing: 0.06em;">
      <ion-button [routerLink]="['/tab2/autoevaluationetudiant']" style="--background: #E6F4F1; color: black;">
        <ion-icon name="color-filter-outline"></ion-icon>
             <p style="margin-left: 10px; margin-top: 20px;">Faire une auto-évaluation</p>
      </ion-button>
    </div>
  </div>
</ion-content>