<ion-content [fullscreen]="true">

  <div class="row tite" style="margin-top: 40px; display: flex; font-size: 30px; margin-left: 20px;">

    <div class="col-4">
      <!-- <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon> -->
      <ion-icon (click)="back()" name="arrow-back-circle-outline"></ion-icon>
    </div>
    <div class="col" style="margin-left: 25px;">
      <div class="titee">
        <h2 class="tit">Inscription Etudiant</h2>
      </div>
    </div>
    <div class="col-4"></div>
  </div>

  <div align="center" style="margin-top: 20px; margin-bottom: 30px;">
    <p>
      CarriPlan vous accompagne pour vous aider à trouver votre orientation.
    </p>
  </div>

    <!-- Debut du formulaire d'inscription -->
  <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <!-- Debut du champ de saisie pour le nom et prenomm -->
    <ion-item mode="md">
      <ion-label for="nomcomplet" position="floating">Nom & Prénom</ion-label>
      <ion-input name="nomcomplet" [(ngModel)]="form.nomcomplet" required minlength="3"
        maxlength="20" #nomcomplet="ngModel" [ngClass]="{ 'is-invalid': f.submitted && nomcomplet.errors }">
      </ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="nomcomplet.errors && f.submitted">
        <div *ngIf="nomcomplet.errors['required']">Nom et Prénom sont obligatoires</div>
        <div *ngIf="nomcomplet.errors['minlength']">
          Nom et prénom doivent avoir au moins 3 caractères
        </div>
        <div *ngIf="nomcomplet.errors['maxlength']">
          Nom et prénom doivent comporter au maximum 20 caractères
        </div>
      </div>
    </ion-item>
    <!-- Fin du champ de saisie pour le nom et prenomm -->

    <!-- Debut du champ de saisie pour le numéro -->
    <ion-item mode="md">
      <ion-label for="numero" position="floating">Numéro</ion-label>
      <ion-input type="tel" name="numero" [(ngModel)]="form.numero" required minlength="8"
        maxlength="13" #numero="ngModel" [ngClass]="{ 'is-invalid': f.submitted && numero.errors }">
      </ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="numero.errors && f.submitted">
        <div *ngIf="numero.errors['required']">Numero est obligatoire</div>
        <div *ngIf="numero.errors['minlength']">
          numero doit avoir au moins 8 caractères
        </div>
        <div *ngIf="numero.errors['maxlength']">
          Numéro doit comporter au maximum 13 caractères
        </div>
      </div>
    </ion-item>
    <!-- Fin du champ de saisie pour le numéro -->

    <!-- Debut du champ de saisie pour l'email -->
    <ion-item mode="md">
      <ion-label for="email" position="floating">Email</ion-label>
      <ion-input name="email" [(ngModel)]="form.email" required email #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.errors }" type="email"></ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">Email est obligatoire</div>
        <div *ngIf="email.errors['email']">
          Email doit être une adresse e-mail valide
        </div>
      </div>
    </ion-item>
    <!-- Fin du champ de saisie pour l'email -->

    <!-- Debut du champ de saisie pour le mot de passe -->
    <ion-item mode='md'>
      <ion-icon [name]="type ? 'eye-off' : 'eye'" slot="end" color="dark" (click)="changeType()" style="font-family: 'Poppins';
        font-style: normal; opacity: 0.5;">
      </ion-icon>
      <ion-label for="password" position='floating'>Mot de passe</ion-label>
      <ion-input name="password" [(ngModel)]="form.password" required minlength="6"
        #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.errors }" color="black" type="password"
        [type]="type ? 'password' : 'text'"></ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Mot de passe obligatoire</div>
        <div *ngIf="password.errors['minlength']">
          Mot de passe doit être au moins 6 caractères
        </div>
      </div>
    </ion-item>
    <!-- Fin du champ de saisie pour le mot de passe -->

    <!-- Debut du champ de saisie pour confirmer le mot de passe -->
    <ion-item mode='md'>
      <ion-icon slot="end" color="dark" (click)="changeType()" style="font-family: 'Poppins';
        font-style: normal; opacity: 0.5;">
      </ion-icon>
      <ion-label for="confirmpassword" position='floating'>Confirmer Mot de passe</ion-label>
      <ion-input name="confirmpassword" [(ngModel)]="form.confirmpassword" required minlength="6"
        #confirmpassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmpassword.errors }" color="black"
        type="confirmpassword"></ion-input>
      <div style="text-align: center;" class="invalid-feedback" *ngIf="confirmpassword.errors && f.submitted">
        <div *ngIf="confirmpassword.errors['required']">Confirmation obligatoire</div>
        <div *ngIf="confirmpassword.errors['minlength']">
          Confirme mot de passe doit être au moins 6 caractères
        </div>
      </div>
    </ion-item>
    <!-- Fin du champ de saisie pour confirmer le mot de passe -->
    
    <!-- Debut du champ de saisie pour selectionner une filière -->
    <ion-item mode="md">
      <ion-label for="serie" position='floating'>Selectionnez votre filière</ion-label>
      <ion-select style="font-family: 'Poppins';
        font-style: normal; opacity: 0.5;" interface="popover" color="black" name="serie" [(ngModel)]="form.serie">
        <ion-select-option *ngFor="let Ser of series" [value]="Ser">{{Ser.nomserie}}</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Fin du champ de saisie pour selectionner une filière -->

    <!-- Debut du boutton permettant d'envoyer le formulaire -->
    <ion-button ion-button type="submit" 
    style="--background: #00A5E4; margin: 10px," 
    expand="block">S’inscrire</ion-button>
    <!-- Fin du boutton permettant d'envoyer le formulaire -->

    <!-- Debut de la division permettant d'afficher le message en cas d'erreur -->
    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Inscription annulée <br />{{ errorMessage }}
    </div>
    <!-- Fin de la division permettant d'afficher le message en cas d'erreur -->
  </form>
  <!-- Fin du formulaire d'inscription -->

  <!-- Debut de la division permettant de naviguer vers la page de connexion -->
  <div class="row" style="text-align: center; margin-top: 30px;">
    <p style="font-family: 'Poppins';
    font-style: normal; opacity: 0.8;color: black; font-size: 17px;">Déjà un compte ? <a [routerLink]="['/connexion']"
        style="color: #00A5E4; font-weight: 600; text-decoration: none; font-size: 17px;">connectez-vous</a></p>
  </div>
  <!-- Fin de la division permettant de naviguer vers la page de connexion -->

</ion-content>