<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3>Les séries </h3>
  <ion-list>
    <div class="ion-margin marginBottom" (ionChange)="segmentChanged($event)">
      <ion-segment mode="ios" [value]="segmentValue">
        <ion-segment-button value="1">
          <ion-label>Lycée</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>Ecole <br> Professionnelle</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="row" style="margin-right: 7px;">
      <app-lycee *ngIf="segmentValue == '1'"></app-lycee>
      <app-eprofessionnelle *ngIf="segmentValue == '2'"></app-eprofessionnelle>
    </div>



  </ion-list>

</ion-content>