<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container fluid">


    <h3>L’orientation grâce à l’inspiration</h3>

    <img alt="" src="assets/imgs/etudiant2.jpg" />
    <div class="row" style="text-align: center; margin-top: 10px;">
      <p>Le programme 
        <b>CARRIPLAN</b> aide les 
        lycéens à s’orienter après le bac.
      </p>
    </div>

    <h3 class="caarr">Avec CARRIPLAN, trouve ta voie en 3 étapes</h3>


    <ion-slides [options]="option" class="ion-margin-top">
      <ion-slide>
        <div class="card1">
          <div class="num"
            style="width: 50px;justify-content: center; height: 50px; border-radius: 100%; border: 3px solid #5AC7EB;">
            <h3 class="textnum">1</h3>
          </div>
    
          <ion-card>
            <ion-card-header>
              <div class="row" style="font-size: 17px; font-weight: bold; margin-top: 15px;">
                Je m’inscris et je réponds au questionnaire
              </div>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card2">
          <div class="num"
            style="width: 50px;justify-content: center; height: 50px; border-radius: 100%; border: 3px solid #5AC7EB;">
            <h3 class="textnum">2</h3>
          </div>
    
          <ion-card>
            <ion-card-header>
              <div class="row" style="font-size: 17px; font-weight: bold;margin-top: 15px;margin-right: 15px;margin-left: 15px;">
                Je découvre mes pistes d’études
              </div>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="card3">
          <div class="num"
            style="width: 50px;justify-content: center; height: 50px; border-radius: 100%; border: 3px solid #5AC7EB;">
            <h3 class="textnum">3</h3>
          </div>
    
          <ion-card>
            <ion-card-header>
              <div class="row" style="font-size: 17px; font-weight: bold;margin-top: 15px;margin-right: 15px;margin-left: 15px;">
                Je planifie ma carrière
              </div>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>

    

    
    
  </div>
</ion-content>