* {
    font-family: 'Poppins';
    // line-height: 194.5%;
    // opacity: 0.5;
    // transform: rotate(0.01deg);
    // line-height: 194.5%;
    font-style: normal;
}

element.style {
    font-size: 14px;
}
*[_ngcontent-ktt-c186] {
    font-family: "Poppins";
    line-height: 194.5%;
    line-height: 194.5%;
    font-style: normal;
}


ion-content {

      // ICI ON BLOCK LE SCROLLING
      --offset-bottom: auto !important;
      // background: #F8F6FB;
      background: url('../../../assets/imgs/background.png') no-repeat center center/cover;
      --overflow: hidden;
      overflow: auto;
  
      &::-webkit-scrollbar {
          display: none;
      }
}


h2 { 
    // margin-top: 2.8rem;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

ion-card {
    text-align: center;
    align-content: center;
    align-self: center;

    img {
        text-align: center;
        align-content: center;
        align-self: center;
        max-width: 40%;
        max-height: 20%;
    }
}


// img {
//     max-height: 20%;
//     max-width: 40%;
//     pointer-events: none;
//     margin-left: auto;
//     margin-right: auto;
// }

.tit{
    margin: 0px !important;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.titee{
    text-align: center;
    justify-content: center
}

ion-icon {
    cursor: pointer;
}

ion-icon:hover {
    cursor: pointer;
}