<ion-content [fullscreen]="true">
    <div class="row tite" style="margin-top: 60px; display: flex; font-size: 30px; margin-left: 20px;">

        <div class="col-2">
            <!-- <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon> -->
            <ion-icon (click)="back()" name="arrow-back-circle-outline"></ion-icon>
        </div>
        <div class="col" style="margin-left: 10px;">
            <div class="titee">
                <h2 class="tit">Inscription</h2>
            </div>
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col">
            <ion-card>
                <ion-card-header style="text-align: center;">
                    <ion-card-title style="font-size: 20px; text-align: center;">Je suis élève</ion-card-title>
                    <div style="font-size: 14px;">
                        Et je veux de l’aide pour mon orientation.
                    </div>
                </ion-card-header>
                <ion-card-content style="margin-top: -15px;">
                    <img alt="" src="assets/imgs/eleve.png" />
                </ion-card-content>
                <ion-button name="eleve" [routerLink]="['/inscript-eleve']"
                    style="--background: #00A5E4;text-transform: none; margin-top: -10px;margin-left: 15px; margin-right: 15px;"
                    expand="block">S’inscrire en tant qu’elève</ion-button>
            </ion-card>
        </div>
        <div class="col">
            <ion-card>
                <ion-card-header>
                    <ion-card-title style="font-size: 20px; text-align: center;">Je suis étudiant(e)</ion-card-title>
                    <div style="font-size: 14px;">
                        Et je veux de l’aide pour mon orientation.
                    </div>
                </ion-card-header>
                <ion-card-content style="margin-top: -15px;">
                    <img alt="" src="assets/imgs/etudiant.png" />
                </ion-card-content>
                <ion-button name="etudiant" [routerLink]="['/inscript-etudiant']" 
                style="--background: #00A5E4; margin-top: -10px;margin-left: 15px;text-transform: none; margin-right: 15px;"
                    expand="block">S’inscrire en tant qu’étudiant(e)</ion-button>
            </ion-card>
        </div>
        <div class="col">
            <ion-card>
                <ion-card-header>
                    <ion-card-title style="font-size: 20px; text-align: center;">Je suis
                        professionnel(le)</ion-card-title>
                    <div style="font-size: 14px;">
                        Et je veux planifier ma reconversion professionnelle.
                    </div>
                </ion-card-header>
                <ion-card-content style="margin-top: -15px;">
                    <img alt="" src="assets/imgs/professionnel.jpg" />
                </ion-card-content>
                <ion-button name="professionnel" [routerLink]="['/inscript-professionnel']" 
                style="--background: #00A5E4; margin-top: -10px;margin-left: 15px; margin-right: 15px; text-transform: none;"
                    expand="block">S’inscrire en tant que professionnel(le)</ion-button>
            </ion-card>
        </div>
    </div>

    <div class="row" style="text-align: center; margin-top: 5px;">
        <p style="font-family: 'Poppins';
        font-style: normal; opacity: 0.8;color: black; font-size: 17px;">Déjà un compte ? <a
                [routerLink]="['/connexion']"
                style="color: #00A5E4; font-weight: 600; text-decoration: none; font-size: 17px;">connectez-vous</a></p>
    </div>
</ion-content>